.cardWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
}

.bottomParagraph {
  color: #c4c5c5;
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
}

.actionButtonWrap {
  margin-top: 40px;
}
